@model IEnumerable<LanchesMvc.Models.Lanche>

@{
    ViewData["Title"] = "Listagem de Lanches";
    ViewData["ActualDate"] = DateTime.Now.ToString("dd/MM/yyyy");
}
<style>
    .card:hover .zoom {
        transform: scale(1.2);
        transition: transform 0.5s ease;
    }
    .card:hover {
        background-color: #c3c5c9;
        cursor: pointer;
    }
</style>

<div><h2>Todos os Lanches</h2></div>
<hr />

<div class="d-flex bd-highlight mb-3 align-content-center justify-content-center">
    <div class="row">
        @foreach (var lanche in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card h-100">
                    <img src="~/img/@lanche.ImagemUrl" class="card-img-top img-fluid rounded-0 zoom" alt="@lanche.Nome" style="object-fit: cover; height: 100px; transition: transform 0.5s ease;">
                    <div class="card-body">
                        <h5 class="card-title">@lanche.Nome</h5>
                        <p class="card-text">@lanche.Preco.ToString("c")</p>
                        <hr>
                        <p class="card-text">@ViewData["ActualDate"]</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
