@model LancheListViewModel

@{
    ViewData["Title"] = "Listagem de Lanches";
}
<style>
    .card:hover .zoom {
        transform: scale(1.2);
        transition: transform 0.5s ease;
    }
    .card:hover {
        background-color: #c3c5c9;
        cursor: pointer;
    }
</style>

<div><h2>@Model.CategoriaAtual</h2></div>
<hr />
<div>@ViewBag.TotalLanches Lanches disponíveis.</div>
<hr />

<div class="d-flex bd-highlight mb-3 align-content-center justify-content-center">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <partial name="_LanchesResumo" for="@lanche"/>
        }
    </div>
</div>
